@model IEnumerable<build9ja.admin.Dto.VendorDto>
<div class="content d-flex flex-column flex-column-fluid" id="tc_content">
					<!--begin::Subheader-->
        <div class="subheader py-2 py-lg-6 subheader-solid">
            <div class="container-fluid">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white mb-0 px-0 py-2">
                        <li class="breadcrumb-item " aria-current="page">People</li>
                        <li class="breadcrumb-item active" aria-current="page">Vendors</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <div class="card card-custom gutter-b bg-transparent shadow-none border-0" >
                                    <div class="card-header align-items-center  border-bottom-dark px-0">
                                        <div class="card-title mb-0">
                                            <h3 class="card-label mb-0 font-weight-bold text-body">Vendors 
                                            </h3>
                                        </div>
                                        <div class="icons d-flex">
                                            <button  class="btn ml-2 p-0" 
                                            id="kt_notes_panel_toggle" data-toggle="tooltip" title="" data-placement="right"
                                                                data-original-title="Check out more demos" >
                                                <span class="bg-secondary h-30px font-size-h5 w-30px d-flex align-items-center justify-content-center  rounded-circle shadow-sm ">
                                                
                                                        <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-plus white" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                        </svg>
                                                </span>
                                            
                                            </button>
                                            <a href="#" onclick="printDiv()" class="ml-2">
                                                <span class="icon h-30px font-size-h5 w-30px d-flex align-items-center justify-content-center rounded-circle ">
                                                    <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-printer-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"/>
                                                        <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                                                        <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                                        </svg>
                                                </span>
                                            
                                            </a>
                                        </div>
                                    </div>
                                
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-12 ">
                                <div class="card card-custom gutter-b bg-white border-0" >
                                    <div class="card-body" >
                                        <div >
                                            <div class=" table-responsive" id="printableTable">
                                                <table id="vendorTable" class="display ">
                                                    
                                                    <thead class="text-body">
                                                        <tr>
                                                            <th>Company</th>
                                                            <th class="">First Name</th>
                                                            <th class="">Last Name</th>
                                                            <th class="">Email</th>
                                                            <th class="">Phone Number</th>
                                                            <th class="">CAC Number</th>
                                                            <th class="">Tax Number</th>
                                                            <th class="">Status</th>
                                                            @* <th class="no-sort text-right">Action</th> *@
                                                        </tr>
                                                    </thead>
                                                    @* <tbody class="kt-table-tbody text-dark">
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr class="kt-table-row kt-table-row-level-0">
                                                            <td  >@item.FirstName</td>
                                                            <td class="">@item.LastName</td>
                                                            <td class="">@item.EmailAddress</td>
                                                            <td class="">@item.PhoneNumber</td>
                                                            <td class="">Admin</td>
                                                            <td>	
                                                                <span class="mr-0 text-success">@item.Status</span>
                                                            </td>
                                                            
                                                            <td>
                                                                <div class="card-toolbar text-right">
                                                                    <button class="btn p-0 shadow-none" type="button" id="dropdowneditButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <span class="svg-icon">
                                                                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-three-dots text-body" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                                <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                                                            </svg>
                                                                        </span>
                                                                    </button>
                                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdowneditButton"  style="position: absolute; transform: translate3d(1001px, 111px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                        <a href="javascript:void(0)" data-id="@item.StaffId" class="dropdown-item click-edit"  data-toggle="tooltip" title="" data-placement="right"
                                                                        data-original-title="Check out more demos">Edit</a>
																		<a href="javascript:void(0)" data-id="@item.StaffId" class="dropdown-item create-login"  data-toggle="tooltip" title="" data-placement="right"
                                                                        data-original-title="Check out more demos">Create Login</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        
                                                        </tr>
                                                        }
                                                    </tbody> *@
                                                </table>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>

                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </div>
    <div id="kt_notes_panel" class="offcanvas offcanvas-right kt-color-panel p-5">
		<div class="offcanvas-header d-flex align-items-center justify-content-between pb-3">
			<h4 class="font-size-h4 font-weight-bold m-0">Add Vendor
			</h4>
			<a href="#" class="btn btn-sm btn-icon btn-light btn-hover-primary" id="kt_notes_panel_close">
				<svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
				</svg>
			</a>
		</div>
		<form id="new-vendor-form">
			<div class="row">

			<div class="col-12">
                <div class="form-group">
					<label class="text-dark" >Company Name</label>
					<input type="text" name="comapny" id="company" class="form-control" placeholder="Micheal"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >Tax Number</label>
					<input type="text" name="taxNumber" id="taxNumber" class="form-control" placeholder="Micheal"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >CAC Number</label>
					<input type="text" name="cacNumber" id="cacNumber" class="form-control" placeholder="Micheal"  >
				</div>
				<div class="form-group">
					<label class="text-dark" >Contact Person First Name</label>
					<input type="text" name="firstName" id="firstName" class="form-control" placeholder="Micheal"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >Contact Person Last Name</label>
					<input type="text" name="lastName" id="lastName" class="form-control" placeholder="Odile"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >Email Address</label>
					<input type="email" name="email" id="email" class="form-control" placeholder="user@@mail.com"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >Phone Number</label>
					<input type="text" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="08090908080"  >
				</div>
                 <div class="form-group">
					<label class="text-dark" >Business Description</label>
                    <textarea class="form-control form-rounded" name="description" id="description" rows="3" placeholder="Nature of business"></textarea>
				</div>
                 
                <div class="form-group">
					<label class="text-dark" >Address</label>
					<input type="text" name="address" id="address" class="form-control" placeholder="No. 2 Odili road"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >City</label>
					<input type="text" name="city" id="city" class="form-control" placeholder="Ikeja"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >State</label>
					<input type="text" name="state" id="state" class="form-control" placeholder="Lagos"  >
				</div>
                
                  <div class="form-group">
					<label class="text-dark" >Status</label>
						<select name="status" id="status" class="arabic-select w-100 mb-3 h-30px">
							<option value="Active">Active</option>
							<option value="Inactive">Inactive</option>
						</select>
				</div>
				 
			</div>
			</div>
		
			<button type="submit" class="btn btn-primary">Add Vendor</button>
		</form>
	</div>	
	<div id="kt_notes_panel2" class="editpopup offcanvas offcanvas-right kt-color-panel p-5">
		<div class="offcanvas-header d-flex align-items-center justify-content-between pb-3">
			<h4 class="font-size-h4 font-weight-bold m-0">Edit Vendor
			</h4>
			<a href="#" class="btn btn-sm btn-icon btn-light btn-hover-primary kt_notes_panel_close" id="kt_notes_panel_close2">
				<svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
				</svg>
			</a>
		</div>
		<form id="edit-vendor-form">
			<div class="row">

			<div class="col-12">
                <div class="form-group">
					<label class="text-dark" >Company Name</label>
					<input type="text" name="comapny" id="edit_company" class="form-control" placeholder="Micheal"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >Tax Number</label>
					<input type="text" name="taxNumber" id="edit_taxNumber" class="form-control" placeholder="Micheal"  >
                    <input type="hidden" id="sellerId" />
                </div>
                <div class="form-group">
					<label class="text-dark" >CAC Number</label>
					<input type="text" name="cacNumber" id="edit_cacNumber" class="form-control" placeholder="Micheal"  >
				</div>
				<div class="form-group">
					<label class="text-dark" >Contact Person First Name</label>
					<input type="text" name="firstName" id="edit_firstName" class="form-control" placeholder="Micheal"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >Contact Person Last Name</label>
					<input type="text" name="lastName" id="edit_lastName" class="form-control" placeholder="Odile"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >Email Address</label>
					<input type="email" name="email" id="edit_email" class="form-control" placeholder="user@@mail.com"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >Phone Number</label>
					<input type="text" name="phoneNumber" id="edit_phoneNumber" class="form-control" placeholder="08090908080"  >
				</div>
                 <div class="form-group">
					<label class="text-dark" >Business Description</label>
                    <textarea class="form-control form-rounded" name="description" id="edit_description" rows="3" placeholder="Nature of business"></textarea>
				</div>
                 
                <div class="form-group">
					<label class="text-dark" >Address</label>
					<input type="text" name="address" id="edit_address" class="form-control" placeholder="No. 2 Odili road"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >City</label>
					<input type="text" name="city" id="edit_city" class="form-control" placeholder="Ikeja"  >
				</div>
                <div class="form-group">
					<label class="text-dark" >State</label>
					<input type="text" name="state" id="edit_state" class="form-control" placeholder="Lagos"  >
				</div>
                
                  <div class="form-group">
					<label class="text-dark" >Status</label>
						<select name="status" id="edit_status" class="arabic-select w-100 mb-3 h-30px">
							<option value="Active">Active</option>
							<option value="Inactive">Inactive</option>
						</select>
				</div>
				 
			</div>
			</div>
		
			<button type="submit" class="btn btn-primary">Edit Vendor</button>
		</form>
	</div>

	<div id="kt_notes_panel3" class="loginpopup offcanvas offcanvas-right kt-color-panel p-5">
		<div class="offcanvas-header d-flex align-items-center justify-content-between pb-3">
			<h4 class="font-size-h4 font-weight-bold m-0">Create Login
			</h4>
			<a href="#" class="btn btn-sm btn-icon btn-light btn-hover-primary kt_notes_panel_close" id="kt_notes_panel_close3">
				<svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
				</svg>
			</a>
		</div>
		<form id="create-login-form">
			<div class="row">

                <div class="col-12">
                    <div class="form-group">
                        <label class="text-dark" >Username</label>
                        <input type="text" name="userName" id="userName" class="form-control" placeholder="Administrator"  >
                    </div>
					<div class="form-group">
                        <label class="text-dark" >Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Administrator"  >
						<input type="hidden" id="vendorId"/>
					</div>
                    <div class="form-group">
                    <label class="text-dark" >Permission</label>
                    <select name="permission" id="permission" class="arabic-select w-100 mb-3 h-30px">
                        @* <option value="Active">Active</option>
                        <option value="Inactive">Inactive
                            
                        </option> *@
                    </select>
                    </div>
                    
                </div>
			</div>
		
			<button type="submit" class="btn btn-primary">Create Credentials</button>
		</form>
	</div>

    <div id="kt_notes_panel4" class="bankdetailpopup offcanvas offcanvas-right kt-color-panel p-5">
		<div class="offcanvas-header d-flex align-items-center justify-content-between pb-3">
			<h4 class="font-size-h4 font-weight-bold m-0">Bank Detail
			</h4>
			<a href="#" class="btn btn-sm btn-icon btn-light btn-hover-primary kt_notes_panel_close" id="kt_notes_panel_close4">
				<svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
				</svg>
			</a>
		</div>
		<form id="bank-detail-form">
			<div class="row">

                <div class="col-12">
                    <div class="form-group">
                        <label class="text-dark" >Bank Name</label>
                        <input type="text" name="bankName" id="bankName" class="form-control" placeholder="Guaranty Trust Bank"  >
                    </div>
					<div class="form-group">
                        <label class="text-dark" >Account Number</label>
                        <input type="text" name="accountNumber" minlength="10" maxlength="10" id="accountNumber" class="form-control" placeholder="0099887767"  >
						<input type="hidden" id="bankVendorId"/>
					</div>
                    <div class="form-group">
                        <label class="text-dark" >Account Name</label>
                        <input type="text" name="accountName"  id="accountName" class="form-control" placeholder="Oluko Ogechi"  >
					</div>
                    
                </div>
			</div>
		
			<button type="submit" class="btn btn-primary">Enter</button>
		</form>
	</div>
	<iframe name="print_frame" width="0" height="0"  src="about:blank"></iframe>

@section HeaderScripts{
    <link href="~/assets/api/multiple-select/multiple-select.min.css" rel="stylesheet">
}
@section FooterScripts{

<script src="~/js/people/vendor.js"></script>

}



